@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;
@using X.PagedList;
@using MNote.Web.ViewModels;

@model IPagedList<MNote.Web.ViewModels.Notes.AllNotebooksViewModel>
@{
    this.ViewData["Title"] = "All notes";
}

<div class="row">
    <div class="card-columns">
        @foreach (var notebook in Model)
        {
            @*<div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title">@notebook.Title</h5>
                    <p class="card-text">@notebook.DateCreated</p>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
            </div>*@

            <h3>@notebook.Title</h3>
            <p>@notebook.DateCreated</p>
            if (notebook.Notes != null)
            {
                <p>@notebook.Notes.Count notes</p>
            }
            else
            {
                <p>0 notes</p>
            }

        }
    </div>
</div>

<div class="mt-3 d-flex justify-content-around">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("All",
                                            new
                                                 {
                                                PageNumber = page
                                            }),
                                            new PagedListRenderOptions
                                            {
                                                MaximumPageNumbersToDisplay = 5,
                                                LiElementClasses = new string[] { "page-item" },
                                                PageClasses = new string[] { "page-link" }
                                            })
</div>